.judul-contact {
				color: #FEFBF3;
       font-family: fantasy;
       font-weight: bold;
       font-size: 100px;
       position: relative;
       left: 20px;
       top: 5px;
}

.menu-contact {
      color: #D1E8E4;
      background-color: #FF5959/*#E05D5D*/;   
      font-family: courier;  
      font-weight: bold;
      padding-top: 50px;
      padding-bottom: -10px;
      font-size: 40px;
      margin: -10px;
      text-align: center;    			
}

li {
				display: inline-block;
				padding : 30px;
}

.gambar-contact {

				         height: 200px;
                width: 200px;
                /*border-radius: 120px;*/
                float: right;
                position: relative;
                top: 45px;
                right: 20px;
}

.header {
				background-color: #191A19;
       padding: 35px;
       margin-bottom: -20px;
       margin: -10px;
}


.inputs {
      margin-top: 200px;
				width: 600px;
				height: 50px;	
				font-size: 50px;
				font-family: fantasy;
				background: transparent;
				border: none;
				color: #FEFBF3;
				outline: none;
				border-bottom: solid 1px gray;
}

.inputd {
				height: 50px;
				width: 600px;
				font-size: 50px;
				margin-top: 30px;
				font-family: fantasy;
				background: transparent;
				border: none;
				outline: none;
				color: #FEFBF3;
				border-bottom: solid 1px gray;
}

.inputt {
				width: 600px;
				font-size: 50px;
				margin-top: 40px;
				font-family: fantasy;
				background: transparent;
				outline: none;
				color: #FEFBF3;
				border-radius: 10px;
}

.submit {
				margin-top: 70px;
				font-size: 50px;
				padding: 20px;
				border-radius: 20px;
				font-weight: bold;
				color: #FEFBF3;
				background-color: #E05D5D;
				font-family: fantasy;
				border: none;
}

.submit:hover {
		background: linear-gradient(#E05D5D, #DD4A48);		
}

.isi {
				text-align: center;
}
body {
				background-color: #212121;
}

.link1 {
				font-family: courier;
				font-size: 40px;
				color: white;
				font-weight: bold;
				text-decoration: none;
}

.paragraph {
				color: #C8C2BC;
				font-weight: bold;
				font-family: fantasy;
				font-size: 50px;
				text-align: center;
				margin-top: 360px;
				
}

.link2 {
			font-weight: bold;
			font-family: courier;
			font-size: 25px;
			color: gray;
			text-decoration: none;
			/*padding-bottom: 30px;*/
}

.text2 {
				text-align: center;
				padding-bottom: 30px;
}

ul {
				  background: linear-gradient(-90deg, 
				  				#FF5959,#DD4A48);
}

/*D1E8E4 (putih-hijau)*/
/*FEFBF3 (putih)*/
/*E05D5D (merah)*/
/*191A19 (abu-hitam)*/
