.judul {
                color: #D1E8E4;
                font-family: fantasy;
                font-weight: bold;
                font-size: 100px;
                position: relative;
                left: 20px;
                top: 5px;
}

.header {
                background-color: #191A19;
                padding: 35px;
                margin-bottom: -20px;
                margin: -10px;
}

body {				         
				         /*background-color: #212121;*/
				         background: 
				         linear-gradient(-20deg,#191A19,
				        				      #212121);
				        		/*#FF5959: red UPG*/
}
				         

.gambar1 {
                height: 200px;
                width: 200px;
                border-radius: 120px;
                float: right;
                position: relative;
                top: 45px;
                right: 20px;
}

.menu {
                color: #D1E8E4;
                background-color: #FF5959/*#E05D5D*/;
                padding-top: 50px;
                padding-bottom: -10px;
                font-family: courier;
                font-size: 40px;
                font-weight: bold;
                margin: -10px;
}

li {
                display: inline-block;
                padding : 30px;
                outline: none;  
}

ul {
				  background: linear-gradient(-90deg, 
				  				#FF5959,#DD4A48);
}

a {
                color: #FEFBF3;
                font-weight: bold;
                text-decoration: none;
}

.gambar2 {

                height: 450px;
                width: 625px;
                border: solid 0px;
                border-radius: 0 50px;
                position: absolute;
                top: 700px;
                left: 220px;
    
}

 .gambar3 { 
                height: 450px;
                width: 620px;
                border-radius: 0px 50px;
                position: relative;
                top: 65px;
                left: 130px;
 }


.text {
				         padding-top: 70px;
}
.documentasy {

               color: #FEFBF3;
               font-size: 120px;
               font-family: courier;
               padding-left: 25px;
               margin-left: 0px;
               text-shadow: 2px 2px 1px #FEFBF3;
}

.documentasy2 , .documentasy3 {

               color: #FEFBF3;
               font-size: 55px;
               font-family: courier;
               padding-left: 10px;
}

.ending {
							          
			          color: #FEFBF3;			        
				        font-size: 30px;	         
 			          font-family: courier;	
 			          padding-top: 50px;	
 			          padding-bottom: 20px;
 			          text-align: right;     
				        margin-top: 300px;
				        margin-bottom: -20px;
				        margin-left: -10px;
				        margin-right: -10px;
				        background: 
				        linear-gradient(90deg,#191A19,
				        				      #212121);
				
}

.end {
				position: relative;
				right: 30px;
}

.github {
				height: 50px;
				width: 50px;
				float: left;
				margin-left: 70px;
				border-radius: 100px;
}
